:root {
  --main-color: #f8f8f8;
  --main-red: #ff6363;
  --black: #080808;
  --contrast-yellow: #f5d061;
  --contrast-red: #ae0000;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}
