.navigation-links {
  display: flex;
  gap: 10px;
  padding: 8px 20px;
  background-color: var(--main-color);
  border: 1px solid var(--contrast-red);
  border-radius: 6px;
}

.navigation-links__link--active {
  color: var(--contrast-red);
  border-bottom: 1px solid var(--contrast-red);
}
