.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  color: var(--main-red);
  font-size: 32px;
  border-bottom: 1px solid var(--main-red);
  text-shadow: 2px 2px 8px;
}
